<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tradeMapper">

	<resultMap type="hashmap" id="ResultMapBoard">
		<id property="BNO" column="BNO" javaType="string" jdbcType="NUMERIC" />
	</resultMap>

	<select id="selectTradeList" resultType="hashmap">
		SELECT A.*
			 , (SELECT COUNT(*) FROM ATTACHMENT WHERE BNO = A.BNO) AS FILECOUNT
			 , (SELECT NICKNAME FROM MEMBER WHERE USERID = A.USERID) AS WRITER
			 , TO_CHAR(BDATE,'YYYY.MM.DD') AS BDATE2CHAR
			 , (SELECT COUNT(*) FROM BOARDCOMMENT WHERE BNO = A.BNO) AS COMMENTS
		FROM BOARD A
		WHERE A.BTNO = 5 AND A.BSTATUS = 'Y'
		ORDER BY BDATE DESC, BNO DESC
	</select>
	
	<select id="selectTradeTotalContents" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE BTNO = 5 AND BSTATUS = 'Y'
	</select>
	
	<insert id="insertTrade" parameterType="Board">
		INSERT INTO BOARD
		VALUES (SEQ_BNO.NEXTVAL, 5, #{bTitle}, #{bContents}, #{userId}, SYSDATE, 0, 'Y')
	</insert>
	
	<insert id="insertAttachment" parameterType="Attachment">
	
		<!-- selectKey 기능 -->
		<!-- 다른 테이블의 정보를 외래키로 가져올 경우 사용하는 기능 -->
		<selectKey keyProperty="bNo" resultType="_int" order="BEFORE">
			SELECT SEQ_BNO.CURRVAL FROM DUAL
		</selectKey>

		INSERT INTO ATTACHMENT
		VALUES (SEQ_ANO.NEXTVAL, #{oldFileName}, #{newFileName}, #{filePath}, DEFAULT, DEFAULT, #{no}, DEFAULT)
	</insert>
	
	<select id="selectOneTrade" parameterType="_int" resultMap="ResultMapBoard">
		SELECT A.*
			 , (SELECT NICKNAME FROM MEMBER WHERE USERID = A.USERID) AS WRITER
			 , (SELECT MNAME FROM MEMBERSHIP WHERE MCODE = (SELECT MEMBERSHIP FROM MEMBER WHERE USERID = A.USERID)) AS MEMBERSHIP
			 , TO_CHAR(BDATE, 'YYYY.MM.DD HH24:mi') AS BDATE2CHAR
			 , (SELECT COUNT(*) FROM BOARDCOMMENT WHERE BNO = A.BNO AND CSTATUS = 'Y' AND REVIEW = 'N') AS COMMENTCOUNT
		FROM BOARD A
		WHERE A.BNO = #{ no } AND A.BSTATUS = 'Y'
	</select>
	
	<select id="selectAttachmentList" parameterType="_int" resultType="hashmap">
		SELECT * FROM ATTACHMENT WHERE BNO = #{ no } ORDER BY ANO
	</select>
	
	<select id="selectTradeCommentList" parameterType="_int" resultType="hashmap">
		SELECT A.*
			 , (SELECT NICKNAME FROM MEMBER WHERE USERID = A.USERID) AS WRITER
			 , TO_CHAR(CDATE, 'YYYY.MM.DD HH24:mi') AS DATE2CHAR
		FROM BOARDCOMMENT A
		WHERE A.BNO = #{ no } AND A.CSTATUS = 'Y' AND A.REVIEW = 'N'
		ORDER BY CDATE, BCNO
	</select>
	
	<update id="updateViews" parameterType="_int">
		UPDATE BOARD
		SET VIEWS = VIEWS + 1
		WHERE BNO = #{ no } AND BSTATUS = 'Y'
	</update>
	
	<update id="updateFree" parameterType="hashmap">
		UPDATE BOARD
		SET BTITLE = #{ BTITLE },
		    BCONTENTS = #{ BCONTENTS }
		WHERE BNO = #{ BNO }
	</update>
	
	<insert id="updateAttachment" parameterType="hashmap">
		INSERT INTO ATTACHMENT VALUES
		(SEQ_ANO.NEXTVAL, #{OLDFILENAME}, #{NEWFILENAME}, #{FILEPATH}, DEFAULT, DEFAULT, #{BNO}, DEFAULT)
	</insert>
	
	<delete id="deleteAttachment" parameterType="_int">
		DELETE FROM ATTACHMENT WHERE BNO = #{ bNo }
	</delete>
	
	<delete id="deleteFree" parameterType="_int">
		DELETE FROM BOARD WHERE BNO = #{ bNo }
	</delete>
	
	<delete id="deleteFile" parameterType="_int">
		DELETE FROM ATTACHMENT WHERE ANO = #{ aNo }
	</delete>
	
	<insert id="insertComment" parameterType="hashmap">
		INSERT INTO BOARDCOMMENT VALUES(SEQ_BCNO.NEXTVAL, #{BNO}, #{CCONTENTS}, #{USERID}, SYSDATE, 'Y', 'N', 0, DEFAULT)
	</insert>
	
	<delete id="deleteComment" parameterType="_int">
		DELETE FROM BOARDCOMMENT WHERE BCNO = #{ bcNo }
	</delete>
</mapper>